<header>
    <h1>Restaurante Delícia</h1>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cardapio">Cardápio</a></li>
            <li><a href="/pedido">Pedido</a></li>
            <li><a href="/sobre">Sobre</a></li>
            
        </ul>
    </nav>
</header>