<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lista de Pedidos</title>
</head>

<body>
    <h1>Todos os Pedidos</h1>
    <% if (pedidos.length===0) { %>
        <p>Não há pedidos.</p>
        <% } else { %>
            <table border="1" cellpadding="5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% pedidos.forEach(p=> { %>
                        <tr>
                            <td>
                                <%= p.id %>
                            </td>
                            <td>
                                <%= p.cliente %>
                            </td>
                            <td>
                                <%= new Date(p.data).toLocaleString('pt-BR') %>
                            </td>
                            <td>R$ <%= p.total.toFixed(2) %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>
</body>

</html>